@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: "Poppins", sans-serif;
    /* border: 1px solid black; */
}

.container{
    /* border: 1px solid black; */

    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    /* border: 1px solid black; */

    text-align: center;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h3{
    /* border: 1px solid black; */
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorchange{
    0%{
        color: tomato;
    }
    20%{
        color: yellowgreen;
    }
    40%{
        color: blueviolet;
    }
    60%{
        color: orangered;
    }
    80%{
        color: darkgreen;
    }
    100%{
        color: hotpink;
    }
}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h3{
        font-size: 1.5rem;
    }
}